
label{
	color: #337ab7;
}
th{
  
	padding: 1px !important;
	text-align: center;
	/*color:white;*/
}



/*.btnclr,[data-column-id="action"],.sorterHeader{*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184ca0+0,227be0+45,196cd1+89,79b1ed+100 */
  /*background: hsla(210, 90%, 80%, 1);*/

  /*background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);*/
  
  /*background: -moz-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);*/
  
  /*background: -webkit-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);*/
  
/*  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9FCCFA", endColorstr="#0974F1", GradientType=1 );*/
  /*font-weight:bold;*/
/*  color:white;*/
/*}*/





.ui-icon {

    float: right;
}
.selected {
color:black;

}

.modal_colSwitch 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content_colSwitch 
{
  background-color: #fefefe;
  border-radius: 20px;
    margin: 00px auto;
    padding: 10px;
    border: 1px solid #38469f;
    width: 20%;
    /* height: 25%; */
    /* overflow-y: scroll; */
    box-shadow: 5px 10px 18px #888888;
}
#myBtn_colSwitch
{
  background-color: #6599FF;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/* The Close Button */
.close_colSwitch {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  padding-bottom:10px;
  font-weight: bold;
}

.close_colSwitch:hover,
.close_colSwitch:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Column Switch ENDS */
/* Table Style */
  .multipleSelect{
    display:inline;
  }
  .for_filter_by{
    padding:130px;
  
   padding:50px;
  }
  
  
  
  
  
  
.multipleSelect {
  width: 130px;
}
.pagecontroller {
    width:20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}



#multipleCheckbox {
  width: 135px;
  display: none;
  border: 1px solid;
}

#multipleCheckbox label {
  display: block;
}

#multipleCheckbox label:hover {
  background-color: #42ecf5;
}

.tablemanager th.sorterHeader {
  cursor: pointer;
}
.tablemanager th.sorterHeader:after {
  content: " \f0dc";
  font-family: "FontAwesome";
}
/*Style sort desc*/
.tablemanager th.sortingDesc:after {
  content: " \f0dd";
  font-family: "FontAwesome";
}
/*Style sort asc*/
.tablemanager th.sortingAsc:after {
  content: " \f0de";
  font-family: "FontAwesome";
}
/*Style disabled*/


/*#for_numrows {*/
/*  padding: 5px;*/
/*  float: left;*/
/*}*/
/*#for_filter_by {*/
/*  padding: 5px;*/
/*  float: right;*/
/*}*/
/*#filter_by,#filter_input,#numrows{*/
/*  padding: 5px;*/
/*  border-radius:5px;*/
 
  
/*}*/


#for_numrows {
  padding: 5px;
  float: left;
  /* padding-top: 44px; */
    padding-top: 11px;

}
#for_filter_by {
  padding: 5px;
  float: right;
  /* height: inherit; */
  padding-top: 19px;
 }
#filter_by,#filter_input,#numrows{
  padding: 5px;
  border-radius:5px;
  width:auto;
  
}





#pagesControllers {
  
  display: block;
  text-align: center;
}
